<!-- Banner -->
<section class="banner style1 orient-right content-align-left image-position-center fullscreen color0">
    <div class="content">
        <h1>Hello, I'm Lukas Vik</h1>
        <p>
            I am an expert FPGA consultant/contractor working freelance out of Vienna, Austria.
            Please find my <a href="#about" class="smooth-scroll-middle">resume</a> below, or visit
            my
            {{ $link := (index (where site.Params.social "name" "Linkedin") 0).link }}
            <a target="_blank" href="{{ $link }}">Linkedin</a>
            and
            {{ $link := (index (where site.Params.social "name" "GitHub") 0).link }}
            <a target="_blank" href="{{ $link }}">GitHub</a>
            pages.
            To contact me, use the <a href="#contact_links" class="smooth-scroll-middle">links below</a>.
        </p>
        <ul class="actions stacked">
            <li><a href="#about" class="button primary large wide smooth-scroll-middle">Read more</a></li>
        </ul>
    </div>

    <div class="image">
        <img src="images/banner.webp" alt="Lukas Vik" />
    </div>
</section>
