<!-- Banner -->
<section class="banner style1 orient-right content-align-left image-position-center fullscreen color0">
    <div class="content">
        <h1>Hello, I'm Lukas Vik</h1>
        <p>
            I am an expert FPGA developer working in Vienna, Austria.
            See my <a href="#about" class="smooth-scroll-middle">resume</a> below, or my
            {{ with .Site.Params.social.linkedin }}<a target="_blank" href="{{.}}">Linkedin</a>{{end}}
            and
            {{ with .Site.Params.social.github }}<a target="_blank" href="{{.}}">GitHub</a>{{end}}
            pages.
        </p>
        <ul class="actions stacked">
            <li><a href="#about" class="button primary large wide smooth-scroll-middle">Read more</a></li>
        </ul>
    </div>

    <div class="image">
        <img src="images/boat.jpg" alt="Lukas Vik" />
    </div>
</section>
