<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <p>
            Stalk me on social media:
        </p>

        <ul class="icons">
            {{ with .Site.Params.social.linkedin }}
              <li>
                <a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin">
                    <span class="label">LinkedIn</span>
                </a>
              </li>
            {{end}}
            {{ with .Site.Params.social.github }}
              <li>
                <a target="_blank" href="{{.}}" class="icon brands style2 fa-github">
                    <span class="label">Github</span>
                </a>
              </li>
            {{end}}
            {{ with .Site.Params.social.youtube }}
              <li>
                <a target="_blank" href="{{.}}" class="icon brands style2 fa-youtube">
                    <span class="label">YouTube</span>
                </a>
              </li>
            {{end}}
            {{ with .Site.Params.social.telegram }}
              <li>
                <a target="_blank" href="{{.}}" class="icon brands style2 fa-telegram">
                    <span class="label">Telegram</span>
                </a>
              </li>
            {{end}}
        </ul>
</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}
