<section class="wrapper style1 align-center color0">
    <div class="inner">
        <div class="index align-left">

            <section>
                <header>
                    <h3 id="first">About Lukas Vik</h3>
                </header>
                <div class="content">

                    <p>
                        Originally from Sweden, a life-long interest in science and computers led me
                        to a Master's degree in Applied Physics from Linköping University in 2014.
                        Since then I have with passion and hunger worked with FPGA,
                        embedded software, development tools, algorithms and signal processing.
                        In 2023 I moved to Austria where I am currently based.
                    </p>

                    <p>
                        Apart from professional work I am an active contributor in the open-source
                        FPGA community.
                        I am currently the author and maintainer of three FPGA-related
                        open-source projects.
                        Please see the GitHub link or my resume below for more details.
                    </p>

                    <p>
                        Since 2017 I have been running my own company providing FPGA
                        design services.
                        I provide value and expertise for my clients both as an hourly consultant
                        and through in-house design of IP.
                        I am available on-site in the Vienna area, or remote globally.
                    </p>

                    <p>
                        In my free time I enjoy reading, exercising and being in nature.
                        The exercise of choice depends on the season, but more often than not you
                        will find me strength training, ice skating or mountainbiking.
                        Living in Vienna, the world's capital for classical music, I am of course
                        also an avid concertgoer.
                    </p>

                    <p>
                        Social media links:
                        {{ with .Site.Params.social.github }}<a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a>{{end}}
                        {{ with .Site.Params.social.linkedin }}<a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a>{{end}}
                    </p>

                    <span class="image fit"><img src="images/ice.png" alt="" /></span>
                </div>
            </section>

            <section>
                <header>
                    <h3>Open-source projects</h3>
                </header>

                <div class="content">
                    <h3>tsfpga</h3>
                    <p>
                        I am the author and maintainer of tsfpga, a flexible and scalable
                        development platform for modern FPGA projects.
                        See the website for more information:
                        <a href="https://tsfpga.com">https://tsfpga.com</a>
                    </p>

                    <h3>hdl-modules</h3>
                    <p>
                        I am the author and maintainer of hdl-modules, a collection of reusable,
                        high-quality, peer-reviewed VHDL building blocks.
                        See the website for more information:
                        <a href="https://hdl-modules.com/">https://hdl-modules.com/</a>
                    </p>

                    <h3>hdl-registers</h3>
                    <p>
                        I am the author and maintainer of hdl-registers, an HDL register code
                        generator fast enough to run in real time.
                        See the website for more information:
                        <a href="https://hdl-registers.com/">https://hdl-registers.com/</a>
                    </p>

                    <span class="image fit"><img src="images/narcon.png" alt="" /></span>
                </div>
            </section>


            <section>
                <header>
                    <h3>Professional projects</h3>
                </header>

                <div class="content">
                    <header>
                        <h3>Design lead and main developer for an FPGA-based Hi-Fi audio product</h3>
                        <p>At Truestream, 2023</p>
                    </header>
                    <p>
                        I am the author and maintainer of tsfpga, a flexible and scalable development platform for modern FPGA projects.
                        See the website to learn more: <a href="https://tsfpga.com">https://tsfpga.com</a>
                    </p>

                    <header>
                        <h3>FPGA and embedded software developer working on industrial 3D cameras</h3>
                        <p>At SICK, 2018&ndash;2019</p>
                    </header>
                    <p>
                        I am the author and maintainer of hdl-modules, a collection of reusable, high-quality, peer-reviewed VHDL building blocks.
                        See the website to learn more: <a href="https://hdl-modules.com/">https://hdl-modules.com/</a>
                    </p>

                    <header>
                        <h3>Embedded software developer working on next-generation torpedo</h3>
                        <p>At SAAB Dynamics, 2017</p>
                    </header>
                    <p>
                        I am the author and maintainer of hdl-modules, a collection of reusable, high-quality, peer-reviewed VHDL building blocks.
                        See the website to learn more: <a href="https://hdl-modules.com/">https://hdl-modules.com/</a>
                    </p>

                    <header>
                        <h3>FPGA developer enabling self-driving cars</h3>
                        <p>At Autoliv Electronics (now part of Qualcomm), 2014&ndash;2017</p>
                    </header>
                    <p>
                        I am the author and maintainer of hdl-modules, a collection of reusable, high-quality, peer-reviewed VHDL building blocks.
                        See the website to learn more: <a href="https://hdl-modules.com/">https://hdl-modules.com/</a>
                    </p>
                </div>
            </section>

            <section>
                <header>
                    <h3>Get in contact</h3>
                </header>
                <div class="content">

                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" value="" />
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" value="" />
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="6"></textarea>
                            </div>
                            <div class="field half">
                                <input type="checkbox" id="copy" name="copy" />
                                <label for="copy">Email me a copy of this message</label>
                            </div>
                            <div class="field half">
                                <input type="checkbox" id="human" name="human" />
                                <label for="human">I am a human and not a robot</label>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
                        </ul>
                    </form>

                </div>
            </section>
        </div>
    </div>
</section>
