<section class="wrapper style1 align-center color0">
    <div class="inner">
        <div class="index align-left">

            <section>
                <header>
                    <h3 id="about">About</h3>
                </header>
                <div class="content">

                    <p>
                        Originally from Sweden, a life-long interest in science and computers led me
                        to a Master's degree in Applied Physics from Linköping University in 2014.
                        Since then I have with passion and hunger worked with FPGA,
                        embedded software, development tools, algorithms and signal processing.
                        In 2023 I moved to Austria where I am currently based.
                    </p>

                    <p>
                        Apart from professional work I am an active contributor in the open-source
                        FPGA community.
                        I am currently the author and maintainer of three FPGA-related
                        open-source projects.
                        Please see the GitHub link or my resume below for more details.
                    </p>

                    <p>
                        Since 2017 I have been running my own company providing FPGA
                        design services.
                        I provide value and expertise for my clients both as an hourly consultant
                        and through in-house design of IP.
                        I am available on-site in the Vienna area, or remote globally.
                    </p>

                    <p>
                        In my free time I enjoy reading, exercising and being in nature.
                        The exercise of choice depends on the season, but more often than not you
                        will find me strength training, ice skating or mountainbiking.
                        Living in Vienna, the world's capital for classical music, I am of course
                        also an avid concertgoer.
                    </p>

                    <p>
                        Social media links:
                        {{ with .Site.Params.social.linkedin }}<a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a>{{end}}
                        {{ with .Site.Params.social.github }}<a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a>{{end}}
                    </p>

                    <span class="image fit"><img src="images/ice.png" alt="" /></span>
                </div>
            </section>


            <section>
                <header>
                    <h3>Open-source projects</h3>
                </header>

                <div class="content">
                    <h3>tsfpga</h3>
                    <p>
                        I am the author and maintainer of tsfpga, a flexible and scalable
                        development platform for modern FPGA projects.
                        See the website for more information:
                        <a href="https://tsfpga.com">https://tsfpga.com</a>
                    </p>

                    <h3>hdl-modules</h3>
                    <p>
                        I am the author and maintainer of hdl-modules, a collection of reusable,
                        high-quality, peer-reviewed VHDL building blocks.
                        See the website for more information:
                        <a href="https://hdl-modules.com/">https://hdl-modules.com/</a>
                    </p>

                    <h3>hdl-registers</h3>
                    <p>
                        I am the author and maintainer of hdl-registers, an HDL register code
                        generator fast enough to run in real time.
                        See the website for more information:
                        <a href="https://hdl-registers.com/">https://hdl-registers.com/</a>
                    </p>
                </div>
            </section>


            <section>
                <header>
                    <h3>Professional projects</h3>
                </header>

                <div class="content">
                    <header>
                        <h3>Design lead and main developer for an FPGA-based Hi-Fi audio product</h3>
                        <p>At Truestream, 2023</p>
                    </header>
                    <p>
                        FPGA and embedded software development, with heavy basis in signal
                        processing and digital filter design.
                        Developed a PC GUI application for controlling the target device
                        over Ethernet.
                    </p>

                    <header>
                        <h3>FPGA project manager, design lead, developer for a video headend device</h3>
                        <p>At Truestream, 2022</p>
                    </header>
                    <p>
                        FPGA development consisting mostly of high-speed serial receiver and
                        transmitter interface design.
                        Managed a two-person FPGA team.
                    </p>

                    <header>
                        <h3>Lead FPGA developer for an FPGA-based ethernet switch</h3>
                        <p>At Truestream, 2020&ndash;2023</p>
                    </header>
                    <p>
                        A very advanced product with bleeding-edge high-speed design and
                        innovative features, mostly developed by me:
                        Layer 4 filtering, traffic shaping, QoR queues,
                        checksum offloading, 1 Gbps or 10 Gbps ports with a custom Ethernet format
                        for backplane communication.
                    </p>

                    <header>
                        <h3>FPGA and embedded software developer working on industrial 3D cameras</h3>
                        <p>At SICK, 2018&ndash;2019</p>
                    </header>
                    <p>
                        FPGA development focused on signal processing.
                        Also embedded software development, GUI development, etc.
                    </p>

                    <header>
                        <h3>Embedded software developer working on next-generation torpedo</h3>
                        <p>At SAAB Dynamics, 2017&ndash;2018</p>
                    </header>
                    <p>
                        Low-level embedded software development for the torpedo homing system.
                        Developed a PC GUI application for controlling the target device
                        over Ethernet.
                    </p>

                    <header>
                        <h3>FPGA developer enabling self-driving cars</h3>
                        <p>At Autoliv Electronics (now part of Qualcomm), 2014&ndash;2017</p>
                    </header>
                    <p>
                        My first job out of University.
                        I had a multitude of roles and was the lead developer towards the end.
                        I mainly developed VHDL cores for image processing, but also team lead,
                        pre-studies, time/resource/power estimations, system test environment,
                        CI, etc.
                    </p>
                </div>
            </section>


            <section>
                <header>
                    <h3 id="form">Get in contact</h3>
                </header>
                <div class="content">
                    <form method="post" action="https://docs.google.com/forms/d/e/1FAIpQLSeFESjXfJ7pBevXzrKZ91MzfRxuACCu3E7ATM7unCNimCPXUw/formResponse">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Name</label>
                                <input type="text" name="entry.2005620554" id="name" value="" />
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="email" name="entry.1045781291" id="email" value="" />
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="entry.839337160" id="message" rows="6"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
                        </ul>
                    </form>
                </div>
            </section>

        </div>
    </div>
</section>
