<section class="wrapper style1 align-center color0">
    <div class="inner">
        <div class="index align-left">

            <section>
                <header>
                    <h3 id="about">About</h3>
                </header>
                <div class="content">

                    <p>
                        Originally from Sweden, a life-long interest in science and computers led me
                        to a Master's degree in Applied Physics from Linköping University in 2014.
                        Since then, I have been working with passion and hunger in the fields of
                        FPGA and embedded software. 
                    </p>

                    <p>
                        Alongside my professional work I am an active contributor in
                        the open-source FPGA community.
                        I am currently the author and maintainer of three FPGA-related
                        open-source projects.
                        Please see my
                        {{ $link := (index (where site.Params.social "name" "GitHub") 0).link }}
                        <a target="_blank" href="{{ $link }}">GitHub</a>
                        or the
                        <a href="#open_source_projects" class="smooth-scroll-middle">project list</a> below for details.
                    </p>

                    <p>
                        In my free time, I enjoy reading, exercising and being in nature.
                        The exercise of choice depends on the season, but you will usually
                        find me strength training, ice skating or mountain biking.
                    </p>

                    <p id="contact_links">
                        Contact links:
                        {{ range .Site.Params.social }}
                        <a target="_blank" href="{{ .link }}" title="{{ .name }}" class="icon style2 {{ .icon }}">
                            <span class="label">{{ .name }}</span>
                        </a>
                        {{ end }}
                    </p>

                    <span class="image fit"><img src="images/intro.webp" alt="" /></span>
                </div>
            </section>


            <section>
                <header>
                    <h3 id="open_source_projects">Open-source projects</h3>
                </header>

                <div class="content">
                    {{ range .Site.Params.open_source }}
                    <header>
                        <h3>{{ .name }}</h3>
                    </header>
                    <p>
{{ .description }}
                        Website: <a target="_blank" href="{{ .website }}">{{ .website }}</a>
                    </p>
                    {{ end }}
                </div>
            </section>


            <section>
                <header>
                    <h3>Professional experience</h3>
                </header>

                <div class="content">
                    {{ range .Site.Params.job }}
                    <header>
                        <h3>{{ .title }}</h3>
                        <p>At {{ .company_name }}, {{ .start_year }}&ndash;{{ .end_year }}</p>
                    </header>
                    <p>
{{ .description | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </section>


            <section>
                <header>
                    <h3 id="publications">Publications</h3>
                </header>

                <div class="content">
                    {{ range .Site.Params.publication }}
                      {{ if ne .url "" }}
                      <header>
                        <a target="_blank" href="{{ .url }}">{{ .title }}</a> ({{ .type }}, {{ .year }})
                      </header>
                      {{ else }}
                      <br />
                      {{ end }}
                    {{ end }}
                </div>
            </section>

        </div>
    </div>
</section>
